*{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bolder;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(236, 199, 199);

}

@-webkit-keyframes anime{
    
    0%{
        background-image: url(img/1.jpg);
        background-size: 100% 100%;
       
      
    }

    100%{
        background-image: url(img/3.jpg);
        background-size: 100% 100%;
        
    }
}

@keyframes anime{
    
    100%{
        background-image: url(img/1.jpg);
        background-size: 100% 100%;
       
    }

    0%{
        background-image: url(img/3.jpg);
        background-size: 100% 100%;
        
    }
}

.box{
    padding: 1% 1%;
}

.container{
    box-sizing: border-box;
    float: right;
    border-radius: 10px;
}

.backgroundMenu {
    position: relative;
    width: 400px;
    height: 537px;
    border-radius: 10px;
    border: 5px solid rgb(10, 10, 10);
    background-image: url(img/1.jpg);
}

.backgroundMenu:hover{
    -webkit-animation: anime 3s ease infinite alternate-reverse;
    animation-name: anime 3s  infinite alternate;
}



#menu ul {
    list-style-type: none;
    font-family: "cursive",Sans-serif;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    box-shadow: 10px 5px 5px rgb(226, 110, 110);
    background: rgba(255, 47, 47, 0.685);
    position: absolute;
    z-index: 1;
    

    }

#menu ul li {
    display: inline;
    text-decoration: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: xx-large;
    padding-left: 5%;
    padding-right: 5%;
    
}

#menu ul li a{
    color: white;
    display: inline-block;
    text-decoration: none;
}

.textLogo{
    font-size: 20px;
    margin-top: 5%;
}
.textTitulo{
    color: rgb(10, 10, 10)
}

.text{
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}

.slidePicture{
    width: 100%;
    
    text-align: center;
   
}

.pic{
    width:10%;
    transition: transform 1s;
     transform: translateX(0) scale(1.0);
    position: relative;
    border-radius: 10px;
}

.pic:hover{
    transform: translateX(10px) scale(1.5);
    position: relative;
    z-index: 1;
    
}

footer{
    background: black;
    color: white;
    width: 100%;
    display: inline-block;
   text-align: center;
}

.boxx{
    display: inline-block;
    box-sizing: border-box;
}

.separação li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.separação1 li{
    list-style-type: none;
    margin: 0;
    padding: 88px;
    float: right;
}

.col{
    box-sizing: border-box;
    display: flex;
    justify-content: baseline;
}

